@use 'utils/variables';
.content{
    width: 100%;
    &__sectionDesc{
        background-image: url('/assets/content-desc.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
      .block-desk{
            width: 35%;
            background-color: #FFF3E3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 5% 5% 0 0;
            padding: 4%;
            &__notification{
                font-weight: 600;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 3px;
            }
            &__header{
                font-weight: 700;
                font-size: 3.5rem;
                line-height: 65px;
                width: 90%;
                letter-spacing: 0px;
                color: #B88E2F;
            }
            &__title{
                margin: 4% 0 12%;
                font-size: 1.125rem;
            }
            .btn-sectionDesk{
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0px;
                text-transform: uppercase;
                padding: 5%;
                text-align: center;
                background-color:#B88E2F;
                border: none;
                width: 50%;
                color: var(--btn-color-white);
            }
        }
        &__assortment{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: var(--main-black-text);
            &-header{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: var(--gap-l);
                margin: 4% 0 6% 0;
                &__title{
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 100%;
                    letter-spacing: 0px;
                }
                &__text{
                    font-weight: 400;
                    color: var(--text-for-header);
                    font-size: 1.25rem;
                    line-height: 100%;
                    letter-spacing: 0px;
                    text-align: center;
                }
            }
            &-cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--gap-l);
                &-card{
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 100%;
                    letter-spacing: 0px;
                    &__title{
                        text-align: center;
                        margin-top: 7%;
                    }
                }
            }

        }
        &__product{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &-header{
                text-align: center;
                font-weight: 700;
                font-size: 2.5rem;
                line-height: 120%;
                letter-spacing: 0%;
                text-align: center;
                color: var(--main-black-text);
                margin: 4% 0 3% 0 
            }
            &-cards{
                width: 98%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: var(--gap-xl);
            }
            &-btn{
            padding: var(--padding-inline);
            width: 20%;
            font-size: 1rem;  
            color: #B88E2F;
            background: #ffffff;
            font-size: 1rem;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0%;
            border: #B88E2F 2px solid;
            margin: 5% 0 10% 0;
            }
        }
            
        
}

// @media screen and (min-width: 1440px) {
//   .content__product-cards{
//     width: 1240px;
//   }
// }