@use 'utils/variables';
.button-nav{
    display: flex;
    gap: var(--gap-xl);
    margin-top: 5%;
    &__block{
        border-radius: 10px;
        border: none;
        background: #FAF3EA;
        width: 60px;
        height: 60px;
        font-size: 1.25rem;
    }
    .btn-active{
        background-color: #B88E2F;
        color: white;
    }
}