<main class="content">
    <section class="content__sectionDesc">
        <div class="block-desk">
            <div class="block-desk__notification">New Arrival</div>
            <header class="block-desk__header">Discover Our New Collection</header>
            <div class="block-desk__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</div>
            <button type="submit" class="btn btn-sectionDesk">Buy now</button>
        </div>
    </section>
    <section class="content__assortment">
        <div class="content__assortment-header">
            <div class="content__assortment-header__title">Browse The Range</div>
            <div class="content__assortment-header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="content__assortment-cards">
            <div class="content__assortment-cards-card">
                <img src="../../../assets/Image-living.webp" alt="" width="381px">
                <div class="content__assortment-cards-card__title">Dining</div>
            </div>
            <div class="content__assortment-cards-card">
                <img src="../../../assets/assortmet-dining.webp" alt="" width="381px">
                <div class="content__assortment-cards-card__title">Living</div>
            </div>
            <div class="content__assortment-cards-card">
                <img src="../../../assets/assortmet-bedroom.webp" alt="" width="381px">
                <div class="content__assortment-cards-card__title">Bedroom</div>
            </div>
        </div>
    </section>
    <section class="content__product">
        <div class="content__product-header">Our products</div>
        <div class="content__product-cards">
            @@include('../components/_card.html', {
            "img": "./assets/images/cardSyltherine",
            "alt": "cardSyltherine",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "sale": "Rp 3.500.000",
            "back": "#E97171",
            "total": "-30%",
            "display": "flex",
            "display-price": "flex",
            })
             @@include('../components/_card.html', {
            "img": "./assets/images/cardLeviosa",
            "alt": "cardLeviosa",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "price": "Rp 2.500.000",
            "sale": "Rp 3.500.000",
            "back": "#2EC1AC",
            "total": "New",
            "display": "none",
            "display-price": "none",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardLolito",
            "alt": "cardLolito",
            "title": "Lolito",
            "text": "Luxury big sofar",
            "price": "Rp 7.000.000",
            "sale": "Rp 14.500.000",
            "back": "#E97171",
            "total": "-50%",
            "display": "flex",
            "display-price": "flex",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardRespira",
            "alt": "cardRespirae",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "price": "Rp 500.0000",
            "sale": "Rp 3.500.000",
            "back": "#2EC1AC",
            "total": "New",
            "display": "flex",
            "display-price": "none",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardGrifo",
            "alt": "cardGrifo",
            "title": "Grifo",
            "text": "Night lamp",
            "price": "Rp 1.500.000",
            "sale": "Rp 3.500.000",
            "back": "#E97171",
            "total": "-30%",
            "display": "none",
            "display-price": "none",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardMuggo",
            "alt": "cardMuggo",
            "title": "Muggo",
            "text": "Small mugr",
            "price": "Rp 150.000",
            "sale": "Rp 3.50.000",
            "back": "#2EC1AC",
            "total": "New",
            "display": "flex",
            "display-price": "none",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardPringky",
            "alt": "cardPingky",
            "title": "Pingky",
            "text": "Cute bed set",
            "price": "Rp 7.000.000",
            "sale": "Rp 14.00.000",
            "back": "#E97171",
            "total": "-50%",
            "display": "flex",
            "display-price": "flex",
            })
            @@include('../components/_card.html', {
            "img": "./assets/images/cardPotty",
            "alt": "cardPotty",
            "title": "Potty",
            "text": "Minimalist flower pot",
            "price": "Rp 500.000",
            "sale": "Rp 3.500.000",
            "back": "#2EC1AC",
            "total": "New",
            "display": "flex",  
            "display-price": "none",
            })
            
        </div>
        <button class="content__product-btn">Show More</button>
    </section>
    <section class="content__rooms">
        <div class="content__rooms-desc">
            <div class="content__rooms-desc__title">50+ Beautiful rooms inspiration</div>
            <div class="content__rooms-desc__text">Our designer already made a lot of beautiful prototipe of rooms that inspire you</div>
            <button class="content__rooms-desc__btn">Explore More</button>
        </div>
        <div class="content__rooms-scroll">
            <div class="content__rooms-scroll__img1">
                <img src="../../../assets/rooms1.webp" alt="">
                <div class="content__rooms-scroll__img1-desc">
                    <div class="content__rooms-scroll__img1-desc__block">
                        <div class="content__rooms-scroll__img1-desc__block__text">01 - Bed Room</div>
                        <div class="content__rooms-scroll__img1-desc__block__title">Inner Peace</div>
                    </div>
                    <div class="content__rooms-scroll__img1-desc__next">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 7H1M19 7L13 1M19 7L13 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="content__rooms-scroll__img2">
                <img src="../../../assets/rooms2.webp" alt="">
            </div>
            <div class="content__rooms-scroll__img3">
                <img src="../../../assets/rooms3.webp" alt="">
            </div>
            <div class="content__rooms-scroll__count">
                <div class="content__rooms-scroll__count-block active"></div>
                <div class="content__rooms-scroll__count-block"></div>
                <div class="content__rooms-scroll__count-block"></div>
                <div class="content__rooms-scroll__count-block"></div>
            </div>
        </div>
        <div class="content__rooms-next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00006 5L16.0001 12L9.00006 19" stroke="#B88E2F" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </section>
    <section class="content__photos">
        <div class="content__photos-desc">
            <div class="content__photos-desc__text">Share your setup with</div>
            <div class="content__photos-desc__title">#FuniroFurniture</div>
        </div>
        <div class="content__photos-scroll">
            <div class="content__photos-scroll-flex content__photos-scroll-grid1">
                <img src="../../../assets/scroll-photo1.webp" alt="" class="end-self">
                <img src="../../../assets/scroll-photo2.webp" alt="" class="end-self">
            </div>
            <div class="content__photos-scroll-flex  content__photos-scroll-grid2">
                    <img src="../../../assets/scroll-photo3.webp" alt="" class="end-start">
                    <img src="../../../assets/scroll-photo4.webp" alt="" class="end-start">
            </div>
            <div class="content__photos-scroll-photo  content__photos-scroll-grid3"><img src="../../../assets/scroll-photo5.webp" alt="" class="scroll-photo3"></div>
            <div class="content__photos-scroll-flex  content__photos-scroll-grid4">
                    <img src="../../../assets/scroll-photo6.webp" alt="" class="end-self">
                    <img src="../../../assets/scroll-photo7.webp" alt="" class="end-self">
            </div>
            <div class="content__photos-scroll-flex  content__photos-scroll-grid5">
                    <img src="../../../assets/scroll-photo8.webp" alt="" class="end-start">
                    <img src="../../../assets/scroll-photo9.webp" alt="" class="end-start">
            </div>
        </div>
    </section>
    <div class="content__line">

    </div>
</main>