<main class="content">
    <section class="content__sectionDesc">
        <div class="block-desk">
            <div class="block-desk__notification">New Arrival</div>
            <div class="block-desk__header">Discover Our New Collection</div>
            <div class="block-desk__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</div>
            <button type="submit" class="btn btn-sectionDesk">Buy now</button>
        </div>
    </section>
</main>