<div class="content__line"></div>
<footer class="footer">
    <div class="footer__content">
        <div class="footer__content-block">
            <div class="footer__content-block-logo">Funiro.</div>
            <div class="footer__content-block-desc">400 University Drive Suite 200 Coral Gables,<br>FL 33134 USA</div>
        </div>
        <div class="footer__content-block">
            <div class="footer__content-block-header">Links</div>
            <div class="footer__content-block-text">Home</div>
            <div class="footer__content-block-text">Shop</div>
            <div class="footer__content-block-text">About</div>
            <div class="footer__content-block-text">Contact</div>
        </div>
        <div class="footer__content-block">
            <div div class="footer__content-block-header">Help</div>
            <div class="footer__content-block-text">Payment Options</div>
            <div class="footer__content-block-text">Returns</div>
            <div class="footer__content-block-text">Privacy Policies</div>
        </div>
        <div class="footer__content-block">
            <div class="footer__content-block-header">Newsletter</div>
            <div class="footer__content-block__form">
                <input type="email" class="footer__content-block__form-input" placeholder="Enter Your Email Address"><button type="submit" class="footer__content-block__form-btn">SUBSCRIBE</button>
            </div>
        </div>
    </div>
    <div class="footer__line"></div>
    <div class="footer__text">2023 furino. All rights reverved</div>
</footer>