<div class="product-comp">
    <picture>
        <source srcset="@@img-vvm.webp" media="(max-width: 500px)">
        <img src="@@img.webp" alt="" class="product-comp__img">
    </picture>
    <div class="product-comp__title">
        @@title
    </div>
    <div class="product-comp__price">
        @@price
    </div>
    <div class="product-comp__rating">
        <div class="product-comp__rating__int">
            @@rate
        </div>
        <div class="product-comp__rating__img">
            <img src="@@img-rate.webp" alt="" class="product-comp__img1">
        </div>
       <svg width="1" height="30" viewBox="0 0 1 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="0.5" x2="0.5" y2="30" stroke="#9F9F9F"/>
    </svg>

        <div class="product-comp__rating__reviews">
            @@review
        </div>
    </div>
</div>