// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/navigation';
@use 'layout/footer';
@use 'layout/index/content-main';

// ==== 4. Components ====
@use 'components/card';

body {
  background-color: var(--main-color);
  font-family: var(--font-family-title);
  font-style: normal;
}
.container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}