// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
// @use 'base/typography';
// @use 'base/layout';

// ==== 3. Layout ====
@use 'layout/navigation';
@use 'layout/footer';
@use 'layout/header';
@use 'layout/best-footer';
@use 'layout/shop/content-shop';

// ==== 4. Components ====
@use 'components/card';
@use 'components/nav-btn-item';

body {
  background-color: var(--main-color);
  font-family: var(--font-family-title);
  font-style: normal;
  margin: 0;
  padding: 0;
}
.container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1440px){
    body{
        font-size: 22px;
    }
}